<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="rtl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AWEC-AFGHAN WOMEN'S EDUCATIONAL CENTER</title>
<link rel="stylesheet" href="css/style_dr.css" type="text/css" media="screen"/>
<link rel="stylesheet" type="text/css" href="css/ddsmoothmenu_dr.css" />
<link rel="stylesheet" type="text/css" href="css/ddsmoothmenu-v_dr.css" />
<script type="text/javascript" src="javascript/jquery.min.js"></script>
<script type="text/javascript" src="javascript/ddsmoothmenu_dr.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "smoothmenu1", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>
</head>
<body>
<!-- Main Container-->
<div id="main_container">

	<!-- Main Site Container-->
	<div class="site_container">
	
    	<!-- Top Container-->
    	<div class="top_section"><img src="images/awec_logo.png" alt="AWEC Logo"/></div>
        
        <!-- Nav Container-->
        <div class="nav_section">
        	<div class="nav_container_left"></div>
        	<div id="smoothmenu1" class="ddsmoothmenu">
            <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="our_program.html">OUR PROGRAM</a></li>
            <li><a href="">ARCHIVE</a></li>
            <li><a href="">GET INVOLVED</a>
            	<ul>
                	<li><a href="#">Submenu</a></li>
                    <li><a href="#">Submenu</a>
                    	<ul>
                			<li><a href="#">Submenu</a></li>
                    		<li><a href="#">Submenu</a></li>
                    		<li><a href="#">Submenu</a></li>
                	</ul>
                    </li>
                    <li><a href="#">Submenu</a></li>
                </ul>
            </li>
            <li><a href="">OUR DONORS</a></li>
            <li><a href="">OUR IMPACT</a></li>
            <li><a href="">JOBS</a></li>
            </ul>
            <br style="clear: left" />
			</div>
        	
        </div>
        
        <!-- Two Col Container-->
        <div class="twoclo_contaienr">
        
        	<!-- Left Col Container-->
        	<div class="left_col_container">
            
            	<!-- Banner Container-->
            	<div class="banner_container">
                <img src="images/beo.jpg" alt="&quot;Building Equality & Opportunity&quot;"/>
                <img src="images/map.jpg" alt="Map" style="padding-top:10px"/>
                </div>
                
                <!-- Vision 3 Box Container-->
                <div class="vision_main_container">
                
                	<!-- Vision Box Container-->
                	<div class="vision_box_container">
                    <div class="vision_box_title">Vision</div>
                    <div class="vision_content_container">
                    Industry's standard dummy text ever since the 1500s, when an unknown  Industry's standard dummy text ever since the 150 Industry's standard dummy text ever since the 150 Industry's standard dummy text ever since the 150printer...<br/><br/>

Industry's standard dummy text ever since the 1500s, when an the 150printer...<a href="">more</a>                   
                    </div>
                    </div>
                    
                    <!-- Mission Box Container-->
                    <div style="float:left; padding:0px 4px;">
                    <div class="vision_box_container">
                    <div class="vision_box_title">Mission</div>
                    <div class="vision_content_container">
                    Industry's standard dummy text ever since the 1500s, when an unknown  Industry's standard dummy text ever since the 150 Industry's standard dummy text ever since the 150 Industry's standard dummy text ever since the 150printer...<br/><br/>

Industry's standard dummy text ever since the 1500s, when an the 150printer...<a href="">more</a>                   
                    </div>
                    </div>
                    </div>
                    
                    <!-- AWEC History Box Container-->
                    <div class="vision_box_container">
                    <div class="vision_box_title">AWEC History</div>
                    <div class="vision_content_container">
                    Industry's standard dummy text ever since the 1500s, when an unknown printer
                    <br/>
                    <ul>
                    <li><a href="">Industry's standard</a></li>
                    <li><a href="">Text ever since the</a></li>
                    <li><a href="">An unknown printer</a></li>
                    <li><a href="">Containing Lorem Ipsum</a></li>
                    <li><a href="">Only five centuries</a></li>
                    </ul>
                    </div>
                    </div>
                
                </div> 
                
				<!-- AWEC Network Container-->
                <div class="awec_network_container">
                	<span>AWEC Network</span>
                    <div class="awec_network_logo_contaienr">
                    <img src="images/dfid.jpg" alt="DFID"/>
                    <img src="images/cgap.jpg" alt="CGAP"/>
                    <img src="images/sida.jpg" alt="SIDA"/>
                    <img src="images/usaid.jpg" alt="USAID"/>
                    <img src="images/cgap.jpg" alt="CGAP"/>
                    <img src="images/net1.jpg" alt="GLOBE"/>
                    <img src="images/flag1.jpg" alt="FLAGE1"/>
                    <img src="images/flag2.jpg" alt="FLAGE2"/>
                    </div>
               	</div>
                
            </div>
            
            <!-- Right Col Container-->
            <div class="right_col_container">
            
            	<!-- Date &amp; Time Container-->
            	<div class="date_time_contaienr">
                <div class="date">15 Sep 2010</div>
                <div class="time">11:00 AM</div>
                </div>
                
                <!-- DONATE Container-->
                <div class="donate_contaienr"><img src="images/donate.jpg" alt="DONATE"/></div>
                
                <!-- Latest News/Events Container-->
          		<div class="latest_ne_contaienr">
                
                	<div class="latest_ne_title">LATEST NEWS/EVENTS</div>
                    
                    <div class="news_container">
                    
                    	<div class="news">
	                    <span>News Title</span> 28 July 2010 But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised. <a href="">&gt;&gt;</a>
                        </div>
                        
                        <div class="news">
	                    <span>News Title</span> 25 July 2010 But also the leap into electronic typesetting, remaining. <a href="">&gt;&gt;</a>
                        </div>
                        
                        <div class="news">
	                    <span>News Title</span> 24 July 2010 But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised. <a href="">&gt;&gt;</a>
                        </div>
                        
                    <span style="float:right; padding:10px 0px 5px">
	                    <a class="viewall" href="">View All</a>
    	            	</span>
                        
                    </div>
                    
              </div>
                
              	<div style="clear:both; height:10px;"></div>
                
                <!-- Email Sign In Container-->
                <div class="email_container">
                <img src="images/email_title.jpg" alt="Email Sign Title"/><br/>
                <span>
                <a href="">Click here to check your email</a>
                </span>
                </div>
                
            </div>
        	
        
        </div>
 	
	</div>
    
    <!-- Footer Container-->
    <div class="footer_container">
    
    	<div class="nav">
        <a href="">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="">Our Program</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="">Archive</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="">Get Involved</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="">Our Donors</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="">Our Impact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="">Jobs</a>
        <br/>
        <span>Copyright © 2010. All rights reserved. </span>
        </div>
        
        <div class="visitor_counter_container">
        	<div class="visitor_title">Visitor Counter</div>
            <div style="float:left"><img src="images/counter.jpg" alt="Counter"/></div>
		</div>
        
    </div>
    
</div>

</body>
</html>
