<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
 <marquee direction="up" height="200px" scrollamount="2" onmouseover="this.stop()" onmouseout="this.start()" >
                    	<div class="news">
	                    <span>News Title</span> 28 July 2010 But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised. <a href="">&gt;&gt;</a>
                        </div>
                        </marquee>
</body>
</html>
